<!DOCTYPE html>
<html>
<head> 
    <title>Dodajte Vozaca</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/home-style.css">
    
<style> 
 .logo1 {
    position: absolute;
    top: 10px;
    left: 50px;
    width: auto;
    height: 115px;
    animation: pulse 2s infinite;
    
}

.popis2{
    text-align: center;
    margin-top: 30px;
}


</style>
    
    

    
</head>
<body>
<header>
    <img src="/static/logo.png" alt="logo" class="logo1">
    <h1>Formula 1</h1>
</header>
<nav>
    <a href="/show_sponzor" title="Sponzori">Sponzori</a>
    <a href="/show_tim" title="Timovi">Timovi</a>
    <a href="/show_vozaci" title="Vozači">Vozači</a>
    <a href="/show_automobil" title="Automobili">Automobili</a>
    <a href="/show_utrka" title="Utrke">Utrke</a>
    <a href="/show_staza" title="Staze">Staze</a>
    <a href="/show_nagrada" title="Nagrade">Nagrade</a>
    <a href="/show_prvenstvo" title="Prvenstva">Prvenstva</a>
    <a href="/show_rezultat" title="Rezultati">Rezultati</a>
</nav>
<main>
    <h1>Unos Novog Vozača</h1>
    <form method="POST" action="{{ url_for('insert_vozac') }}">

    
        <label for="ime">Ime:</label>
        <input type="text" id="ime" name="ime" required><br><br>

        <label for="prezime">Prezime:</label>
        <input type="text" id="prezime" name="prezime" required><br><br>

        <label for="drzava">Država:</label>
        <input type="text" id="drzava" name="drzava" required><br><br>

        <label for="datum_rodenja">Datum Rođenja:</label>
        <input type="date" id="datum_rodenja" name="datum_rodenja" required><br><br>

        

        <input type="submit" value="Spremi Vozača">
    </form>



    <a href="/" class="btn btn-primary small-button">Povratak na početnu stranicu</a>
    <br>
    


</main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
