<!DOCTYPE html>
<html>
<head> 
    <title>Popis Prvenstva</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/home-style.css">
    
<style> 
 .logo1 {
    position: absolute;
    top: 10px;
    left: 50px;
    width: auto;
    height: 115px;
    animation: pulse 2s infinite;
    
}

.popis2{
    text-align: center;
    margin-top: 30px;
}


</style>
    
    

    
</head>
<body>
<header>
    <img src="/static/logo.png" alt="logo" class="logo1">
    <h1>Formula 1</h1>
</header>
<nav>
    <a href="/show_sponzor" title="Sponzori">Sponzori</a>
    <a href="/show_tim" title="Timovi">Timovi</a>
    <a href="/show_vozaci" title="Vozači">Vozači</a>
    <a href="/show_automobil" title="Automobili">Automobili</a>
    <a href="/show_utrka" title="Utrke">Utrke</a>
    <a href="/show_staza" title="Staze">Staze</a>
    <a href="/show_nagrada" title="Nagrade">Nagrade</a>
    <a href="/show_prvenstvo" title="Prvenstva">Prvenstva</a>
    <a href="/show_rezultat" title="Rezultati">Rezultati</a>
</nav>
<main>
    <h1 class="popis2">Popis Prvenstava </h1>
    <table>
        <tr>
            <th>Naziv</th>
            <th>Budžet</th>
            <th>Organizator</th>
            <th>Datum Početka</th>
            <th>Datum Završetka</th>
            <th>Lokacija</th>
            <th>Broj Timova</th>
        
        </tr>
        {% for prvenstvo in prvenstvo_data %}
        <tr>
            <td>{{ prvenstvo[1] }}</td>
            <td>{{ prvenstvo[2] }}</td>
            <td>{{ prvenstvo[3] }}</td>
            <td>{{ prvenstvo[4] }}</td>
            <td>{{ prvenstvo[5] }}</td>
            <td>{{ prvenstvo[6] }}</td>
            <td>{{ prvenstvo[7] }}</td>
            <td> 
                {% if prvenstvo[0] == session.get('nedavno_dodano_prvenstvo_id', None) %}
                <form method="POST" action="/delete_prvenstvo/{{ prvenstvo[0] }}">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" class="delete-button" value="Izbriši">
                </form>
                {% endif %}
                <a class="btn btn-primary small-button" href="{{ url_for('obracun_bodova', id_prvenstvo=prvenstvo[0]) }}">Pokreni obračun bodova</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <a href="/" class="btn btn-primary small-button">Povratak na početnu stranicu</a>
    <br>
    
    <a href="/insert_prvenstvo_form" class="btn btn-primary small-button" style="margin: 8px 0;">Dodajte Prvenstvo</a>


</main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
